.page7 p{
    font-size: 17px;
    font-weight: 400;
    font-family: "Lato";
}

.page7 h1{
    font-size: 6vmin;
    color: white;
    font-family: "Montserrat";
    margin-left: 5vmax;
    margin-top: 5vmax;
    margin-bottom: 3vmax;
}

.cd{
    min-height: 250px;
    width: 250px;
    display: inline-block;
    transition: all 0.5s;
}

.cd:hover{
    box-shadow: 0 0 5px rgba(15,15,15,0.26);
    transform: translate(-1vmax);
    text-decoration: underline;
}

